.div {
    display: flex;
    gap: 12px;
    margin-bottom: 38px;
    align-items: center;
}

.input {
    position: relative;
    width: 30px;
    height: 30px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    border-radius: 4px;
}

.input::before {
    display: none;
    content: "";
    background-image: url(../../../public/checked.svg);
    position: absolute;
    top: 6px;
    left: 4px;
    width: 22px;
    height: 17px;
}

.input:checked[type="checkbox"]::before {
    display: flex;
    background-color: #ffffff;
}

.label {
    color: #0080c1;
    text-align: center;
    font-family: StratosSkyeng;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
}

.label:hover, .input:hover {
    cursor: pointer;
    color: #004980;
}