.container {
    max-width: 1024px;
    min-width: 672px;
    margin: 0 auto;
    padding: 52px 40px 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 40px;
}

.pageTitle {
    color: #fff;
    font-family: StratosSkyeng;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: left;
}

.leaderListHeader, .leaderList {
    display: flex;
    gap: 66px;
    border-radius: 12px;
    background: #fff;
    height: 64px;
    padding: 16px 20px;
    box-sizing: border-box;
    margin-bottom: 15px;
}

.leaderListHeaderEl, .leaderListEl {
    color: rgb(153, 153, 153);
    font-family: StratosSkyeng;
    font-size: 24px;
    font-weight: 400;
    text-align: left;
    width: 92px;
    min-width: 82px;
}


.leaderListHeaderEl:first-child,
.leaderListEl:first-child {
    width: 178px;
    min-width: 97px;
}

.leaderListHeaderEl:nth-child(2),
.leaderListEl:nth-child(2) {
    width: 227px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.leaderListHeaderEl:nth-child(3),
.leaderListEl:nth-child(3) {
    width: 194px;
}

.leaderListEl {
    color: #000;
}

.achievesBox {
    display: flex;
    gap: 14px;
    fill: #E9ECED;
    position: relative;
}

.withoutAchieve * {
    fill: #E9ECED;
}

.achievBtn {
    border: none;
    background-color: transparent;
    width: 26px;
    height: 26px;
}

.hintAchiv {
    display: none;
    position: absolute;
    top: -90px;
    width: 134px;
    height: 78px;
    z-index: 1;
    color: rgb(0, 73, 128);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    padding: 15px 20px;
    background-image: url(./images/achievementHint.png);
    background-size: 100% 85%;
    background-repeat: no-repeat;
}

.achievBtn:hover .hintAchiv {
    display:block;
}